# --- Secrets---
.env
*.key
*.p12
*.jks

# --- Java & Maven ---
target/
*.class
*.log

# --- IDEs---
.idea/
*.iml
.vscode/

# --- Docker ---
docker-compose.override.yml

# --- Frontend---
node_modules/
dist/
build/
.npm/
.eslintcache
coverage/

# --- System Files ---
.DS_Store
Thumbs.db