# --- Secrets (NEVER UPLOAD THESE) ---
.env
*.key
*.p12
*.jks

# --- Java & Maven ---
target/
*.class
*.log

# --- IDEs (IntelliJ & VS Code) ---
.idea/
*.iml
.vscode/

# --- Docker ---
docker-compose.override.yml

# --- Frontend (Node.js) ---
node_modules/
dist/
build/
.npm/
.eslintcache
coverage/

# --- System Files ---
.DS_Store
Thumbs.db